/* custom CSS */

/* Flex Fin_simulator */

.mc-fin_simulator{
    position: relative;
}

.mc-fin_simulator.flexfin_simulator{
    border: 0 !important;
}

.mc-fin_simulator .img-fluid {
    max-width: 100%;
    height: auto;
}

.mc-fin_simulator .mvs-container{
    max-width: 1140px;
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
}

.mc-fin_simulator .flex-direction-nav{
    display: none !important;
}

.mc-fin_simulator .flex-control-nav {
    bottom: 10px !important;
}

.mc-fin_simulator .flex-direction-nav a{
    height: 50px;
}

.mc-fin_simulator .fin_simulator-details-container {
    color: #FFF;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.mc-fin_simulator .fin_simulator-details-container .subtitle{
    margin-bottom: 15px;        
}

.mc-fin_simulator .fin_simulator-details-container .fin_simulator-title{
    color: #FFF;
    font-weight: 700;
}

.mc-fin_simulator .fin_simulator-details-container a{
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 5px 25px;
    display: inline-block;
    text-decoration: none;
}

.mc-fin_simulator .fin_simulator-details-container a:hover{
    color: #fff;
}

.mc-fin_simulator .flexfin_simulator .slides {
    padding: 0 !important;
}

.mc-fin_simulator .flex-control-paging li a.flex-active {
    width: 25px !important;
}

.mc-fin_simulator .flex-control-nav li {
    margin: 0 3px !important;
}

/* Design Options */

/* Style 1 */

.mc-fin_simulator.style-1 .fin_simulator-details-container .link{
    background-color: #1d4671;
}

.mc-fin_simulator.style-1 .flex-control-paging li a.flex-active {
    background: rgb(182, 2, 2) !important;
}

.mc-fin_simulator.style-1 .flex-control-paging li a {
    background: rgb(247, 247, 247);
}

/* Style 2 */

.mc-fin_simulator.style-2 .fin_simulator-details-container .link{
    background-color: #71481d;
}