/* custom CSS */

.simulacao_tabela, .simulacao_tabela td{
    border-collapse: separate;
    border: 0 !important;
    background: none !important;
    padding: 5px !important;
}

.simulacao_tabela input{
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #aaa !important;
}